body {
  font-family: Avenir, 'Open Sans', sans-serif;
}

hr {
  border: 1px solid #ccc;
}

.siginfo {
}

.pubkey {
  font-style: italic;
}

.sig {
  font-style: italic;
}

.articlemeta {
}

.nav {
  width: 20%;
}
.nav img {
  width: 100px;
}

.content .article ul {
  padding-left: 50px;
}

.content .article ul li {
  list-style-type: disc;
}

.content .article ul li ul li {
  list-style-type: circle;
}

footer {
  text-align: center;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

.article h1 {
  font-size: 1.5em;
}
.article h2 {
  font-size: 1.3em;
}
.article h3 {
  font-size: 1.1em;
}

.frame {
  border: 1px solid #ccc;
}

.lb {
  padding-top: 10px;
}
