{{ template "header.html" . }}
{{ template "nav.html" .User }}
<div class="content threequarters">
  <h3>BSD Advocacy</h3>
  <hr />
  <h4>Conferences</h4>
    <table id="confs">
      <thead>
        <tr><td>Name</td><th>Description</th><th>Date</th></tr>
      </thead>
      <tr>
        <td><a href="https://www.bsdcan.org/">BSDCan</a></td>
        <td>a BSD conference held in Ottawa, Canada, has quickly established itself as the technical conference for people working on and with 4.4BSD based operating systems and related projects. The organizers have found a fantastic formula that appeals to a wide range of people from extreme novices to advanced developers.</td>
        <td class="date">TBD</td>
      </tr>
      <tr>
        <td><a href="https://www.verisign.com/en_US/internet-technology-news/verisign-events/vbsdcon/index.xhtml">vBSDCon</a></td>
        <td>Biennial conference hosted by <a href="https://www.verisign.com">Verisign</a> which brings together members of the BSD community for a series of roundtable discussions, educational sessions, best practice conversations, and exclusive networking opportunities.</td>
        <td class="date">2017</td>
      </tr>
      <tr>
        <td><a href="https://eurobsdcon.org">EuroBSDCon</a></td>
        <td>EuroBSDcon is the premier European conference on the open source BSD operating systems attracting about 250 highly skilled engineering professionals, software developers, computer science students and professors, and users from all over Europe and other parts of the world. </td>
        <td class="date">Sep 22 - 25, 2016</td>
      </tr>
      <tr>
        <td><a href="https://asiabsdcon.org">AsiaBSDCon</a></td>
        <td>AsiaBSDCon is a conference for users and developers on BSD based systems. </td>
        <td class="date">TBD</td>
      </tr>
      <tr>
        <td><a href="https://nycbsdcon.org/">NYCBSDCon</a></td>
        <td>Conference organized by NYC*BUG in New York City!</td>
        <td class="date">TBD</td>
      </tr>
    </table>
  <h4>User Groups</h4>
    <table id="bugs">
      <thead>
        <tr><td>Name</td><th>Description</th></tr>
      </thead>
{{ range .Data }}
      <tr>
        <td><a href="{{ .URL }}">{{ .Name }}</a></td>
        <td>{{ .Descr }}</td>
      </tr>
{{ end }}
    </table>
</div>

{{ template "footer.html" }}
