{{ template "header.html" . }}
{{ template "nav.html" .User }}
<div class="content threequarters">
  <article>
    <div id="article_{{ .Data.Slug }}" class="">
      <header>
	<h1>{{ .Data.Title }}</h1>
      </header>
      <div class="articlemeta">
        <div class="tags">{{ .Data.Tags | joinTags }}</div>
	<div>By: <i>{{ .Data.Author.FName }}</i> <{{ .Data.Author.Email }}></div>
	<div><time datetime="{{ .Data.Date }}">{{ .Data.Date | formatDate }}</time></div>
        {{ if .Data.Signed }}
	<div class="accordion">
	  <input type="checkbox" id="verify{{ .Data.Slug }}">
	  <label for="verify{{ .Data.Slug }}"><a>Verified Article</a></label>
	  <div>
            <div class="padded white">
	      <div class="siginfo">
		Author's pubkey:<br />
		<pre>{{ .Data.Author.Pubkey | printByte }}</pre><br />
		Article's signature:<br />
		<pre>{{ .Data.Signature | printByte }}</pre><br />
		<a href="/article/raw/{{ .Data.Slug }}">Raw article</a>
	      </div>
            </div>
	  </div>
	</div> 
        {{ end }}
      </div>
      <div class="article padded">
	{{ .Data.Body | printHTML }}
      </div>
    </div>
    <hr />
</div>

{{ template "footer.html" }}
