<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daemon.News</title>
    <meta name="description" content="News for Daemons by Daemons">
    <link rel="stylesheet" href="public/stupid.css" type="text/css">
    <link rel="stylesheet" href="public/dnews.css" type="text/css">
    <style>
      .article {
      word-wrap: break-word;
      }
    </style>
  </head>
  <body>
{{ if .Authed }}
<div class="user">Welcome, {{ .FName }}!</div>
{{ else }}
<div class="user">Welcome, anonymous!</div>
{{ end }}
<div class="container padded">

