{{ template "header.html" . }}
{{ template "nav.html" .User }}
<div class="content threequarters">
  {{ range .Articles }}
  <article>
    <div id="article_{{ .ID }}" class="">
      <header>
	<h1><a href="/article/{{ .Slug }}">{{ .Title }}</a></h1>
      </header>
      <div class="articlemeta padded">
	<div>By: <i>{{ .Author.FName }}</i> <{{ .Author.Email }}></div>
	<div><time datetime="{{ .Date }}"><i>{{ .Date | formatDate }}</i></time></div>
        {{ if .Signed }}
	<div class="accordion">
	  <input type="checkbox" id="verify{{ .ID }}">
	  <label for="verify{{ .ID }}"><a>Verified Article</a></label>
	  <div>
            <div class="padded white">
	      <div class="siginfo">
		Author's pubkey:<br />
		<pre>{{ .Author.Pubkey | printByte }}</pre><br />
		Article's signature:<br />
		<pre>{{ .Signature | printByte }}</pre><br />
		<a href="/article/raw/{{ .Slug }}">Raw article</a>
	      </div>
            </div>
	  </div>
	</div> 
        {{ end }}
      </div>
      <div class="article">
	{{ .Body | printHTML }}
      </div>
    </div>
    <hr />
    {{ end }}
</div>

{{ template "footer.html" }}
