{{ template "header.html" }}
{{ template "nav.html" }}
<div class="content threequarters">
  {{ .Error }}
  <div class="padded">
  <form name="login" action="/login" method="POST">
    <div class="container">
      <label class="quarter right">User name:</label>
      <div class="half">
        <input type="text" class="fill" name="user">
      </div>
    </div>
    <div class="container">
      <label class="quarter right">Password:</label>
      <div class="half">
        <input type="password" class="fill" name="passwd">
      </div>
    </div>
    <div class="half right lb">
      <input type="submit" class="btn red rounded" value="LOGIN"/>
    </div>
  </form>
  </div>
</div>
{{ template "footer.html" }}
