{{ template "header.html" . }}
{{ template "nav.html" .User }}
<div class="content threequarters">
  <div class="padded">
  <form name="login" action="/login/post" method="POST">
    <div class="container">
      <label class="quarter right">User name:</label>
      <div class="half">
        <input type="text" class="fill" name="user">
      </div>
    </div>
    <div class="container">
      <label class="quarter right">Password:</label>
      <div class="half">
        <input type="password" class="fill" name="passwd">
      </div>
    </div>
    <div class="half right lb">
      {{ .CSRF.csrfField }}
      <input type="submit" class="btn red rounded" value="LOGIN"/>
    </div>
  </form>
  </div>
</div>
{{ template "footer.html" }}
