      <nav class="nav quarter padded">
	<a href="/"><img src="/public/daemonnews.png"></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/advocacy">Advocacy</a></li>
          <li><a href="/archives">Archives</a></li>
          <li><a href="/ml">Mailing List</a></li>
          <li><a href="/feeds">RSS / Atom</a></li>
{{ if .Authed }}
          <li><a href="/admin">Admin</a></li>
          <li><a href="/logout">Log out</a></li>
{{ else }}
          <li><a href="/login">Log in</a></li>
{{ end }}
        </ul>
      </nav>
